.header {
  width: 100%;
  padding: 10px 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: gray;
  }
}

/* Mobile Menu (Burger) */
.burger {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile Drawer Menu */
.drawer {
  position: fixed;
  top: 0;
  right: 100%;
  width: auto;
  height: 100vh;
  background-color: black;
  color:black;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right 0.3s ease-in-out;
}

/* Show menu when open */
.drawer.open {
  right: 0;
}

.mobileLinks {
  display: flex;

  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.mobileLink {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: gray;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .links {
    display: none; /* Hide desktop links on mobile */
  }

  .burger {
    display: block; /* Show burger menu on mobile */
  }
}
